@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden
 }
 h1 {
  @apply text-4xl md:text-5xl;
 }
}
.app {
    position: relative;
}
.page-content {
	max-width: 1400px;
	margin: 0 auto;
    padding: 0 1rem;
}